<div class="container">
    <div class="row">
        <div class="col-md-6">
            {{ content.field_image }}
        </div>
        <div class="col-md-6">
            {{ content.body }}
        </div>
    </div>
    <div class="col-md-12">
        {{ content.field_add_product }}
        {{ content.field_food_image }}
    </div>
</div>


